beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
cryptography==41.0.5
fuzzywuzzy==0.18.0
idna==3.4
Levenshtein==0.23.0
PyAudio==0.2.14
pycparser==2.21
pygame==2.5.2
PyMySQL==1.1.0
python-Levenshtein==0.23.0
pywin32==306
rapidfuzz==3.5.2
requests==2.31.0
soupsieve==2.5
srt==3.5.3
tqdm==4.66.1
urllib3==2.0.7
vk-api==11.9.9
vosk==0.3.45
websockets==12.0
